// Dark Theme constant
$app-dark-bg:green;
$app-dark-font-color:#fff;
$app-dark-body-font-size:'12px';
$app-dark-p-font-color:#fff;
$app-dark-p-font-size:'12px';
$app-dark-table-bg-color:#fff;
$app-dark-table-font-color:#fff;
$app-dark-table-font-size:'12px';

// Light Theme constant
$app-light-bg:#adadad;
$app-light-font-color:#fff;
$app-light-body-font-size:'12px';
$app-light-p-font-color:#fff;
$app-light-p-font-size:'12px';
$app-light-table-bg-color:#fff;
$app-light-table-font-color:#fff;
$app-light-table-font-size:'12px';

